# Build results
bin/
obj/

# Publish results
publish/
wwwroot/dist/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Rider
.idea/

# VS Code
.vscode/

# NuGet
packages/
*.nupkg
project.lock.json
project.fragment.lock.json

# Logs and Databases
*.log
*.db
*.sqlite
*.pidb

# Test Results
TestResults/
*.trx
*.coverage
