@model IEnumerable<MyApiUi.Models.DTO.RegionDto>

<h1 class="mt-3">Regions</h1>

<a asp-action="Create" class="btn btn-primary mb-3">Add New Region</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Code</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var region in Model)
            {
                <tr>
                    <td>@region.Id</td>
                    <td>@region.Name</td>
                    <td>@region.Code</td>
                    <td>
                        <a asp-controller="Regions" asp-action="Edit" class="btn btn-light" asp-route-id="@region.Id">Edit</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3" class="text-center">No regions found.</td>
            </tr>
        }
    </tbody>
</table>